{{!-- ACERCA DE
<section class="acerca">
    
    <h3 class="title-acerca">Acerca de <span>CEMIAC</span></h3>
    <div class="separador"></div>
    
    <div class="container-info-acerca">
        <div class="info-1">Es una Asociación Civil que surge tras la alta problemática que existe por mejorar la calidad de vida de comunidades marginadas a través de la generación de espacios y viviendas aptos para el desarrollo humano.</div>
        <div></div>

        <div></div>
        <div class="info-2">Por este motivo, desde 2017 y a partir de los sismos que afectaron al centro de México, el proyecto ha generado iniciativas capaces de mejorar la calidad de vida de estas comunidades. A la par de generar alianzas con el sector público, privado e instituciones con las que ha conseguido financiar las actividades antes mencionadas.</div>

        <div class="info-3">Al día de hoy, el proyecto es liderado por 7 jóvenes mexicanos de distintas áreas del conocimientos que, al integrar sus conocimientos y habilidades, han constituido esta Asociación a lo largo de más de 3 años de trabajo. 
        </div>

        <div></div>
    </div>


</section>

<section class="mision-vision">
    <div id="accordion">
  <div class="card no-style">
    <div class="card-header header-modified" id="headingOne">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span class="title-drop">Misión</span>
        </button>
    
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card no-style">
    <div class="card-header header-modified" id="headingTwo">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <span class="title-drop">Visión</span>
        </button>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card no-style">
    <div class="card-header header-modified" id="headingThree">
    
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span class="title-drop">Objetivos</span>
        </button>
  
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
</section>

{{!-- QUIENES SOMOS --}}
<section class="quienes-somos">

        <h4 class="text-white">¿Quiénes Somos?</h4>
        <div class="separador-blanco"></div>
        <p class="text-white">Jóvenes mexicanos de distintas regiones del país que buscan impactar a comunidades a través de la arquitectura social.</p>
    
</section>

{{!-- GALERIA --}}
<section class="fotos-quienesSomos">
    <div class="foto-marco foto" data-id="1">
        
    </div>
    <div class="foto-leonardo foto" data-id="3">
        
    </div>
    <div class="foto-job foto" data-id="7">
        
    </div>
    <div class="foto-rodrigob foto" data-id="5">
        
    </div>
    <div class="foto-rodrigou foto" data-id="6">
        
    </div>
    <div class="foto-andrea foto" data-id="2">
        
    </div>
    
    <div class="foto-maria foto" data-id="4">
        
    </div>
    
    
</section>

{{!-- LOGROS --}}
<section class="logros">
    Logros
</section>

{{!-- PATROCINADORES --}}
<section class="patrocinadores">
    <img class="img-responsive foto-patrocinio" src="/img/patrocinios/daltile.png" alt="">
    <img class="img responsive foto-patrocinio" src="/img/patrocinios/lideres.png" alt="">
    <img class="img responsive foto-patrocinio" src="/img/patrocinios/morelos24.png" alt="">
    <img class="img responsive foto-patrocinio" src="/img/patrocinios/rualba.png" alt="">
    <img class="img responsive foto-patrocinio" src="/img/patrocinios/tecmonterrey.png" alt="">
    <img class="img responsive foto-patrocinio" src="/img/patrocinios/zonaeihorizontal.png" alt="">
</section>

{{!-- DONA --}}
<section class="dona">
    <h4 class="text-white">DONA</h4>
    <p class="text-white">Ayudanos a Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptates?</p>
    <div>
        <button class="btn btn-green">DONAR</button>
    </div>
</section>

{{!-- RETO EMPRENDEDOR --}}
<section class="reto-emprendedor">
    <div class="donativo-reto">

    </div>
    <div class="">
        <h4>Reto Emprendedor 2018</h4>
        <h6>Donativo de $170,903 por parte del Reto Emprendedor con Sentido Humano 2018</h6>
    </div>
</section>

{{!-- CONTACTO --}}
<section class="contacto">
    <h4 class="text-white">Contacto</h4>
</section>

{{!-- MODAL QUIENES SOMOS --}}
<div class="modal fade" id="modalQuienesSomos" tabindex="-1" role="dialog" aria-labelledby="modalQuienesSomosTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-body container-modal">
          <div class="img-modal"></div>
          <div class="descripcion-modal">
              <h4 id="nombre-modal">Nombre</h4>
              <h6 id="carrera-modal">Carrera</h6>
              <p id="estado-modal">Estado</p>
              <p id="frase-modal">Frase</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div> --}}