<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse sticky" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#"><img class="logo-img" src="/img/logoazul.png" alt=""></a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 menuTop">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item" id="acerca">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            <li class="nav-item" id="nosotros">
                <a class="nav-link" href="#">Quiénes sómos</a>
            </li>
            <li class="nav-item" id="evidencia">
                <a class="nav-link" href="#">Logros</a>
            </li>
            <li class="nav-item" id="alianzas">
                <a class="nav-link" href="#">Alianzas</a>
            </li>
            <li class="nav-item" id="contacto">
                <a class="nav-link" href="#">Contacto</a>
            </li>
        </ul>
        {{!-- <button id="btn-dona-menu" class="btn btn-green">DONA</button> --}}
    </div>
</nav>

{{!-- BACK TO TOP --}}
<a id="buttonTop"></a>

{{!-- BANNER --}}
 {{!-- <section class="banner">
    <div>
        <h2 class="text-white title-banner" data-aos="fade-right"><span class="title-transformando">CEMIAC</span> <span class="title-vidas">A.C</span></h2>
        <p class="text-white description-banner" data-aos="fade-right">Transformando vidas, <span class="bold">por siempre</span>.</p>
        <div class="container-banner-buttons">
          <button class="btn-conoce" data-aos="fade-down">Conóce más <i class="fas fa-chevron-right"></i></button>
          <button class="btn-contacto-banner" data-aos="fade-down">Contactanos <i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</section>  --}}

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/video/PORTADA.mp4" type="video/mp4">
  </video>
  <div class="container h-100 w-100">
    <div class="d-flex h-100 align-items-end justify-items-start">
      <div class="w-100 text-white content" style="margin-bottom: 3rem;">
        <div class="content-text">
            <h2 class="text-white title-banner" data-aos="fade-right"><span class="title-transformando">CEMIAC</span> <span class="title-vidas">A.C</span></h2>
        <p class="text-white description-banner" data-aos="fade-right">Transformando vidas, <span class="bold">por siempre</span>.</p>
        </div>
        <div class="container-banner-buttons">
          <button class="btn-conoce" data-aos="fade-down">Conóce más <i class="fas fa-chevron-right"></i></button>
          <button class="btn-conoce" data-aos="fade-down">Contactanos <i class="fas fa-chevron-right"></i></button>
      </div>
    </div>
  </div>
</header>



{{!-- ACERCA DE NOSOTROS --}}

<section class="acercaDe commonSection ab_agency" id="acerca-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-md-12 PR_79 acerca-descripcion">
                        <div class="div-title">
                            <span>ACERCA DE CEMIAC</span>
                        </div>
                        <div class="para-1">
                          <p>Es una Asociación Civil que surge tras la alta problemática que existe por mejorar la calidad de vida de comunidades marginadas a través de la generación de espacios y viviendas aptos para el desarrollo humano. </p>
                        </div>
                        <div class="para-2">
                          <p>Por este motivo, a partir de los sismos que afectaron al centro de México en septiembre de 2017, los jóvenes Leví Carbellido y Brenda Zarate fundaron esta iniciativa, generando propuestas capaces de mejorar la calidad de vida de estas comunidades. A la par de generar alianzas con el sector público, privado e instituciones con las que ha conseguido financiar las actividades antes mencionadas. </p>
                        </div>
                        <div class="para-3">
                          <p>Al día de hoy, el proyecto es liderado por 7 jóvenes mexicanos de distintas áreas del conocimientos que, al integrar sus conocimientos y habilidades, han constituido esta Asociación a lo largo de más de 3 años de trabajo. 
                  </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-md-6 foto-acerca">
                        <div class="ab_img1" data-aos="fade-left">
                            <img src="/img/acerca.jpg" alt=""/>
                        </div>
                        <div class="ab_img2" data-aos="fade-right">
                            <img src="/img/familia2.jpg" alt=""/>
                        </div>
                    </div>
                </div>

                <p class="desc-cemiac"><span class="bold naranja">CEMIAC</span> viene del náhuatl "por siempre", lo cual representa nuestros valores y objetivos: crear viviendas y espacios que trasciendan en la vida de las familias a lo largo del tiempo, a pesar de cualquier adversidad.</p>

                <section class="faq-style-one">
            <div class="container">
                <div class="accrodion-grp" data-grp-name="faq-accrodion">
                    
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>Misión</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>Somos una Asociación mexicana que brinda educación y genera espacios capaces de mejorar la calidad de vida de comunidades que se encuentran en situaciones de adversidad, a través de la arquitectura, disminuyendo el impacto ambiental y generando empleo a personas de las mismas comunidades.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>Visión</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                              
                                <p>Ser la Asociación Civil de arquitectura social más grande a nivel estatal, construyendo viviendas de materiales alternativos y convertirnos en Donataria Autorizada. 
Crear espacios públicos dedicados a la capacitación sobre técnicas alternativas de construcción, asesoramiento a personas interesadas en el área  y por consecuencia generar una cultura colectiva de participación con el objetivo de inspirar a más jóvenes, empresas e instituciones a participar en el proyecto. </p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion ">
                        <div class="accrodion-title">
                            <h4>Nuestros Valores</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                              
                                <p><span class="p-objetivo">Solidaridad:</span> nuestra Asociación siempre buscará ayudar a los demás de acuerdo a lo establecido en nuestra misión y visión.<br>
                                <span class="p-objetivo">Ética:</span> elegir objetivamente a las familias que se apoyarán. Bajo un proceso transparente. <br>
                                <span class="p-objetivo">Responsabilidad:</span> garantizar la seguridad de las familias a través de proyectos diseñados de acuerdo a las necesidades de las ellas.<br>
                                <span class="p-objetivo">Inclusión:</span> cualquier persona puede ser acreedora a recibir nuestro apoyo sin discriminar cualquier característica del individuo; como edad, raza, sexo, religión, discapacidad y orientación sexual.<br>
                                <span class="p-objetivo">Sostenibilidad:</span> nuestros proyectos buscan disminuir el impacto ambiental en el área de construcción.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Objetivos de Desarrollo Sostenible ONU 2030</h4>
                        </div>
                        <div class="accrodion-content">
                            <div class="inner">
                              <p class="p-objetivo">Objetivo 11: Ciudades y Comunidades Sostenibles </p>
                                <p>Parte de nuestro trabajo se fundamenta en las metas que establece la ONU para lograr el desarrollo sustentable en 2030 con el objetivo N°11, el cual busca crear conciencia en el diseño y desarrollo de ciudades o comunidades sostenibles. Para que esto se logre es necesario (entre otros factores) planificar y llevar a cabo propuestas que garanticen desde el acceso a viviendas dignas, seguras y asequibles, hasta la creación de proyectos que reduzcan el impacto ambiental generado por el ser humano. Nuestros proyectos otorgan soluciones que se ajustan a las necesidades del usuario, trabajando en conjunto con la misma comunidad para así poder generar más empleos en las zonas de impacto donde más lo necesiten.</p>
                            </div><!-- /.inner -->
                        </div>
                    </div>
                
                </div>
            </div><!-- /.container -->
        </section><!-- /.faq-style-one -->

            </div>
        </section>

{{!-- NOSOTROS --}}

<section class="nosotros" id="nosotros-content">

  <div class="div-title">
    <h3>¿Quienes Sómos?</h3>
  </div>

  <div class="div-description">
    <span>Jóvenes mexicanos de distintas regiones del país que buscan impactar a comunidades a través de la arquitectura social. </span>
  </div>


  <div class="team_slider">
                <div class="singleTM">
                    <div class="tm_img">
                        <img src="/img/integrantes/marco2.jpg" alt="">
                        <div class="tm_overlay">
                            
                            <button data-id="1" class="common_btn2 btn-fotoModal"><span>Conoce Más</span></button>
                        </div>
                    </div>
                    <div class="detail_TM">
                        <h5 class="">Marco Antonio Luna Palacios</h5>
                        <h6>Estudiante Lic. Administración y Estrategia de Negocios </h6>
                    </div>
                </div>
                <div class="singleTM">
                    <div class="tm_img">
                        <img src="/img/integrantes/rodrigou2.jpg" alt="">
                        <div class="tm_overlay">
                            
                            <button data-id="6" class="common_btn btn-fotoModal"><span>Conoce Más</span></button>
                        </div>
                    </div>
                    <div class="detail_TM">
                        <h5>Rodrigo Unda López</h5>
                        <h6>Lic. en Administración Financiera</h6>
                    </div>
                </div>
                <div class="singleTM">
                    <div class="tm_img">
                        <img src="/img/integrantes/maria2.jpg" alt="">
                        <div class="tm_overlay">
                            
                            <button data-id="4" class="common_btn btn-fotoModal"><span>Conoce Más</span></button>
                        </div>
                    </div>
                    <div class="detail_TM">
                        <h5>María Guadalupe Gama Cruz</h5>
                        <h6>Estudiante de Ingeniería en Mecatrónica</h6>
                    </div>
                </div>
                <div class="singleTM">
                    <div class="tm_img">
                        <img src="/img/integrantes/leonardo2.jpg" alt="">
                        <div class="tm_overlay">
                            
                            <button data-id="3" class="common_btn btn-fotoModal"><span>Conoce Más</span></button>
                        </div>
                    </div>
                    <div class="detail_TM">
                        <h5>Jesus Leonardo Medina Rodriguez</h5>
                        <h6>Arquitecto</h6>
                    </div>
                </div>
               
                <div class="singleTM">
                    <div class="tm_img">
                        <img src="/img/integrantes/rodrigob2.jpg" alt="">
                        <div class="tm_overlay">
                            
                            <button data-id="5" class="common_btn btn-fotoModal"><span>Conoce Más</span></button>
                        </div>
                    </div>
                    <div class="detail_TM">
                        <h5>Rodrigo Barreto Medrano</h5>
                        <h6>Estudiante Arquitectura</h6>
                    </div>
                </div>
               
            </div>
</section>

{{!-- LOGROS --}}

<section class="commonSection featured" id="evidencia-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12  col-md-8">
                <div class="features_content">
                    <div class="div-title">
                      <span>LOGROS</span>
                    </div>
                    <p class="logros-descripcion">
                        Conoce los proyectos que hemos realizado con mucho esfuerzo y dedicación.
                    </p>
                    <div class="singleFeature">
                        <div class="f_count">01</div>
                        <h3>Líderes del Mañana por Jojutla</h3>
        
                        <button class="common_btn red_bg btn-modalLogros" data-id="1" type="button"><span>Conoce más</span></button>
                    </div>
                    <div class="singleFeature2">
                        {{!-- <div class="f_count">02</div> --}}
                        <h3>Talleres Emergentes</h3>
                        <button class="common_btn red_bg btn-modalTalleres" type="button"><span>Conoce más</span></button>
                    </div>
                    <div class="singleFeature">
                        {{!-- <div class="f_count">03</div> --}}
                        <h3>Casa Eva</h3>
                        
                        <button class="common_btn red_bg btn-modalCasa" type="button"><span>Conoce más</span></button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>



{{!-- DONATIVO --}}
<section class="donativo">
  <h3>Reto Emprendedor 2018</h4>
  <h4>Donativo de <span>$170,903</span> </h6>
  <h5>Por parte del Reto Emprendedor con Sentido Humano 2018</h5>
  <h6>Tecnológico de Monterrey Campus Cuernavaca</h6>

</section>

{{!-- ALIANZAS --}}

<section class="commonSection client" id="alianzas-content">

  

  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <div class="div-title">
              <h3>Alianzas</h3>
            </div>
              <p class="sec_desc">
                  Conoce a nuestros aliados los cuales Lorem, ipsum dolor.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="client_slider">
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/daltile.png" alt=""/>
                      </a>
                  </div>
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/lideres.png" alt=""/>
                      </a>
                  </div>
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/morelos24.png" alt=""/>
                      </a>
                  </div>
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/rualba.png" alt=""/>
                      </a>
                  </div>
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/tecmonterrey.png" alt=""/>
                      </a>
                  </div>
                  <div class="singleClient">
                      <a href="#">
                          <img src="/img/patrocinios/zonaeihorizontal.png" alt=""/>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

{{!-- CONTACTO --}}
<section class="commonSection ContactPage" id="contacto-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="sub_title">Contáctanos</h4>
                <h2 class="sec_title">Escríbenos un mensaje</h2>
                <p class="sec_desc">
                    Contáctanos para cualquier comentario o para formar parte de nuestro equipo.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2 col-sm-12 col-md-12 col-md-offset-1">
                <form class="contactFrom" id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <input class="input-form required" type="text" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <input class="input-form required" type="email"id="correo" placeholder="Correo">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <input class="input-form required" type="text" placeholder="Telefono">
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <select class="input-form"id="enterado">
                              <option disabled selected>¿Como te enteraste?</option>
                              <option>Presencia en eventos de emprendimiento</option>
                              <option>Recomendación de un amigo</option>
                              <option>Medios de comunicación</option>
                               <option>Otro</option>
                            </select>
                        </div>

                        <div class="col-lg-12 col-sm-12">
                            <input class="input-form required" type="texto" id="asunto" placeholder="Asunto">
                        </div>
                     
                        <div class="col-lg-12 col-sm-12">
                            <textarea class="input-form required" id="mensaje" placeholder="Escribe un mensaje"></textarea>
                        </div>
                    </div>
                    <button class="common_btn red_bg" type="button" id="con_submit"><span>Enviar</span></button>
                </form>
            </div>
        </div>
    </div>
</section>

{{!-- FOOTER --}}
<footer>
    <img class="logo-img-footer" src="/img/logoblanco.png" alt="">
  <p><span>CEMIAC</span> 2020 | Todos los derechos reservados</p>
  <p><a target="blank" href="https://www.facebook.com/CEMIAC.AC/?eid=ARDFbAMzjZ9vL_lghQYpAlSX9AdBt02zFflsESAE4IFJSXCGrEA_U4euc36_94aaQR_yqwzlN5uwBa40"><i class="text-white fab fa-facebook"></i></a><a target="blank" href="https://www.instagram.com/cemiac.ac/?hl=es-la"><i class="text-white fab fa-instagram"></i></a></p>
</footer>


{{!-- MODAL QUIENES SOMOS --}}
<div class="modal fade" id="modalQuienesSomos" tabindex="-1" role="dialog" aria-labelledby="modalQuienesSomosTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body container-modal">
          <img class="img-modal" alt="">
          <div class="descripcion-modal">
              <h4 id="nombre-modal">Nombre</h4>
              <h6 id="carrera-modal">Carrera</h6>
              <h6 id="puesto-modal" class="italic">Puesto</h6>
              <p id="estado-modal">Estado</p>
              <p id="frase-modal">Frase</p>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL LOGROS LIDERES DEL MAÑANA --}}
<div class="modal fade" id="modalLogros" tabindex="-1" role="dialog" aria-labelledby="modalLogrosTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

         <div class="modal-header">
        <h5 class="modal-title">Líderes del Mañana por Jojutla</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body modalLogros" style="padding: 2rem !important;">

          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/Cyy6TIIwGK8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


          <div style="margin-top: 1rem !important;">
              <p>
                    LDMxJojutla fue la primera fase de lo que actualmente es CEMIAC A.C.
                    Esta iniciativa surge tras los sismos que afectaron al centro de México en 2017 por lo que diversos jóvenes con la distinción Líderes del Mañana del Tecnológico de Monterrey se organizaron para apoyar a las personas afectadas por este desastre en la comunidad de Jojutla, Morelos. 
                </p>
                <p>
                    En una primera etapa, se crearon brigadas para socorrer a las personas afectadas por los sismos; apoyando además en albergues, centros de víveres y en la logística para remover los escombros que el desastre había dejado a su paso.
                </p>
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL TALLERES EMERGENTES --}}
<div class="modal fade" id="modalTalleres" tabindex="-1" role="dialog" aria-labelledby="modalLogrosTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

         <div class="modal-header">
        <h5 class="modal-title">Talleres Emergentes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body containerModalTalleres">

          <img src="/img/tallereslogro.jpg" alt="">

          <p>En 2018 se consiguió crear un espacio llamado Talleres Emergentes, en donde se impartieron cursos de programación, robótica y diseño de páginas web. Dichos talleres consiguieron impactar a más de 50 personas de forma directa e indirectamente.</p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL CASA EVA --}}
<div class="modal fade" id="modalCasa" tabindex="-1" role="dialog" aria-labelledby="modalCasaTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">

         <div class="modal-header">
        <h5 class="modal-title">Casa EVA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">

          <iframe width="100%" height="300px" src="https://www.youtube.com/embed/5sJsPAg3cB4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

          <p>Después de 2 años de los sismos de 2017, aún existía una basta cantidad de familias que seguían en condiciones vulnerables. De esta forma, tras realizar estudios, entrevistas y conocer a cada una de ellas, se decidió apoyar a la familia de la Sra. Eva Rea Domínguez. Por lo que en el verano de 2019 se inició con los trabajos de construcción de lo que sería la primer vivienda del proyecto.</p>
          <p>Esta construcción fue financiada por personas del sector público, privado e instituciones que confiaron fielmente en el proyecto. El costo ascendió a más de $250,000, generando así empleo para 15 personas y un nuevo hogar para una familia.</p>
          <p>Del mismo modo, el diseño de la construcción fue un trabajo en conjunto entre estudiantes de Arquitectura e Ingeniería Civil del Tecnológico de Monterrey Campus Querétaro, Campus Laguna, la Universidad Autónoma del Estado de Morelos y el Grupo Inmobiliario Rualba. Dicha vivienda cuenta con 2 recámaras, una cocina, un espacio común, conexiones eléctricas, hidrosanitarias y una correcta distribución de muros que permiten el desplazamiento de una persona con silla de ruedas.</p>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>